body{
	background-color: #8DE670;
}

#leftMap{
	background-color: #FFFF66;
	width: 34%;
	height: 65%;
	margin: 0.86%;
	border-radius: 2em;
	float: left;
}

#center{
	width: 25%;
	height: 65%;
	margin: 0.86%;
	border-radius: 2em;
    float: left;
}

#zoo{
	background-color: green;
	width: 100%;
	height: 65%;
	margin-bottom: 7%;
	border-radius: 2em;
}

#messageBox{
	background-color: #4A2500;
	width: 100%;
	height: 30%;
	border-radius: 2em;
	font-family: Courier;
	color: #FFFF66;
	overflow: hidden;
}

#messageBoxContent{
	width: 90%;
	height: 75%;
	margin: 5%;
	overflow: auto;
}

#rightMap{
	background-color: #FFFF66;
	width: 34%;
	height: 65%;
	margin: 0.86%;
	border-radius: 2em;
	float: left;
}

#question{
	background-color: #4A2500;
	width: 32%;
	height: 23%;
	padding: 1%;
	margin-left: 0.86%;
	margin-right: 0.86%;
	margin-bottom: 0.86%;
	border-radius: 2em;
	float: left;
}

#questionHeader{
	font-family: Courier;
	color: #FFFF66;
	font-size: 1.5em;
}

#questionContent{
	width: 90%;
	height: 70%;
	font-family: Courier;
	color: #FFFF66;
	font-size: 1em;
	overflow: auto;
}

#spinner{
	background-color: #FFFF66;
	width: 25%;
	height: 27%;
	margin-left: 0.86%;
	margin-right: 0.86%;
	margin-bottom: 0.86%;
	border-radius: 2em;
	float: left;
}

#answer{
	background-color: #4A2500;
	width: 32%;
	height: 23%;
	padding: 1%;
	margin-left: 0.86%;
	margin-right: 0.86%;
	margin-bottom: 0.86%;
	border-radius: 2em;
	float: left;
}

#answerHeader{
	font-family: Courier;
	color: #FFFF66;
	font-size: 1.5em;
}

#answerContent{
	width: 100%;
	height: 70%;
	font-family: Courier;
	color: #FFFF66;
	font-size: 1em;
	overflow: auto;
}

g.button{
	fill: #FFFF66;
	pointer-events: all;
}

g.button:hover{
    fill: green;
}

a {
color: green;
}

a:visited {
color: #005C1F;
}

.mcqOption{
	background-color: #FFFF66;
	color: #4A2500;
	font-family: Courier;
	border-radius: 2em;
	font-size: 1.5em;
}

.mcqOption:hover{
	cursor: pointer;
}



