body{
	background-color: #8DE670;
}

#leftMap{
	background-color: #FFFF66;
	width: 35%;
	height: 70%;
	border-radius: 5%;
}

#center{
	background-color: #45B120;
	width: 25%;
	height: 70%;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 5%;
	border-style: solid;
    border-color: #000;
}

#rightMap{
	background-color: #FFFF66;
	width: 35%;
	height: 70%;
	border-radius: 5%;
}