body{
	background-color: #8DE670;
	background-size: height: auto, width: 100%;
	font-family: Courier;
	background-repeat: no-repeat;
}

.Sections{
	top-border:0;
	
	width:100%;
	height: 100%;
}
	
	
	opacity: 0.7;
	width: 100%;
	height: 70%;
}
#interface{
	width: 100%;
	height: 30%;
	border-radius: 2em;
	opacity: 0.7;
}

.continentContainer{
	width: 18%;
	height: 100%;
	float: right;
	background-color: white;
	border-radius: 2em;
	margin-right: .5%;
	margin-left: .5%;

}

.continentContainer:hover{
	cursor: pointer;
	background-color: #000000;
	border-radius: 2em;
	color: white;
}

.header{
	font-size: 2em;
	height: 10%;
	text-align: center;
	font-weight: bold;
}

#NorthAmerica{
	background-image: url("Resources/SVG/NorthAmerica.svg");
}

#Asia{
	background-image: url("Resources/SVG/Asia.svg");
}

#Africa{
	background-image: url("Resources/SVG/Africa.svg");
}

#SouthAmerica{
	
	background-image: url("Resources/SVG/SouthAmerica.svg");
	
}

.continent{
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 90%;
}

.continent:hover{
	cursor: pointer;
	background-color: #000000;
	border-radius: 2em;
}